<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NtVoice</title>
</head>
<body>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="css/logStyle.css">
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <b class="logo-icon mr-0">
            <img  src="assets/images/logo-icon.jpg"  class="dark-logo">

            <!--         <img src="/d3.jpg"  id="icon" alt="User Icon" /> -->
        </b>
        <div th:if="${param.error}">
            Неправильное имя или пароль
        </div>
        <div th:if="${param.logout}">
            Вы вышли из системы
        </div>
        <!-- Login Form -->
        <form th:action="@{login}" method="post">
            <div>
            <label for="login"><input type="text" id="login" class="fadeIn second"   name="username" th:placeholder="#{login.username}"></label>
            </div>
            <div>
            <label for="password" ><input type="password" id="password"  class="fadeIn third" name="password" th:placeholder="#{login.password}"></label>
            </div>
            <input type="hidden" name="_csrf" value="${_csrf.token}">
                <div><input type="submit" class="fadeIn fourth" th:value="#{login.input}"></div>
            <a class="btn btn-sm" th:href="@{/login(l='kz_KZ')}">Qz</a>
            <a class="btn btn-sm" th:href="@{/login(l='ru_RU')}">Ру</a>
            <a class="btn btn-sm" th:href="@{/login(l='en_US')}">En</a>
        </form>
    </div>
</div>
</body>
</html>