<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>NtVoice</title>
</head>
<body>
<aside class="left-sidebar" data-sidebarbg="skin6" th:fragment="navbar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <!-- User Profile-->
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                             href="/" aria-expanded="false"><i class="me-3 far fa-clock fa-fw"
                                                                               aria-hidden="true"></i><span class="hide-menu" th:text="#{dashboard}">Dashboard</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                             href="/pages-profile" aria-expanded="false"><i class="me-3 fa fa-user" aria-hidden="true"></i>
                    <span class="pages-profile" th:text="#{profil}"></span></a>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                             href="/table-basic" aria-expanded="false"><i class="me-3 fa ti-mobile"
                                                                                         aria-hidden="true"></i><span class="hide-menu" th:text="#{inputNumbers}"></span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link "
                                             href="/control-output-routes" aria-expanded="false"><i class="me-3 fa ti-angle-double-right"
                                                                                         aria-hidden="true"></i><span class="hide-menu" th:text="#{outputRoutes}"></span></a></li>
                 <li class="sidebar-item" sec:authorize="hasAuthority('ADMIN')"> <a class="sidebar-link waves-effect waves-dark sidebar-link  "
                                             href="/control-input-routes" aria-expanded="false"><i class="me-3 fa ti-angle-double-left"
                                                                                                   aria-hidden="true"></i><span class="hide-menu" th:text="#{inputRoutes}">Входящая </br>маршрутизация</span></a></li>

                <li class="sidebar-item" sec:authorize="hasAuthority('ADMIN')">  <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                                                                    href="/users" aria-expanded="false"><i class="me-3 fa ti-id-badge"
                                                                                                                          aria-hidden="true"></i><span class="hide-menu" th:text="#{userControl}">Управление </br> пользователями</span></a></li>

                 <li class="sidebar-item" sec:authorize="hasAuthority('ADMIN')">  <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                                                                    href="/command" aria-expanded="false"><i class="me-3 fa ti-layout-list-thumb"
                                                                                                                          aria-hidden="true"></i><span class="hide-menu" th:text="#{viewLogs}">Просмотр логов</span></a></li>
                <li class="sidebar-item" sec:authorize="hasAuthority('ADMIN')">  <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                                                                    href="/cdr" aria-expanded="false"><i class="me-3 fa fa-table"
                                                                                                                          aria-hidden="true"></i><span class="hide-menu" >CDR</span></a></li>



            </ul>

        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
</body>
</html>